
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: #0477BF;
    font-family: "Trebuchet MS", sans-serif, Helvetica;
    /* overflow: hidden; */
}

ul{
    padding: 0px !important;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.menu-principal{
    width: 100%;
    background-color: #E9F1DF;
    height: 70px;
    border-bottom: 3px solid #d8d8d8;
}
#logo{
    padding: 8px 0;
    float: left;
}

/* Formatação do menu de navegacao*/
#menu{
    float: right;
    padding: 25px 0;
}
#menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 5px;
    height: 45px;
}
#menu ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: initial;
    color: #838383;
    padding: 10px;
}
#menu ul li:hover{
    border-bottom: 3px solid #013294;
}
#menu ul li a:hover{
    color: #013294;
}
p{
    margin: 50px auto 50px;
}

#top-titulo{
    margin: 50px auto 50px;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.card{
    display: grid;
    float: left;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "footer";
    font-family: roboto;
    border-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 20px 0px 20px 8%;
}

.card-image{
    grid-area: image;
    /* background: url("../img/user.png") */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-color: #04708D;
}

.card-text{
    grid-area: text;
    margin: 25px;
}

.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h3{
    margin-top: 0px;
    font-size: 28px;
}
.lattes{
    background-color: #0540F2;
}

.link-lattes{
    text-decoration: none;
    color: white;
}
.card-footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: green;
    align-items: right;
}

#btn_curriculo{
    font-size: 16pt;
    padding: 5px;
    /* border: 1px solid #435964; */
    border-radius: 8px;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    background-color: #435964;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#btn_curriculo:hover{
    background-color: #76919C;
    
}

.cad:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}


/* rodapé */
footer{
    background: #E9F1DF;
    padding: 30px 0px;
    position: absolute;
    width: 100%;
    top: 1350px;
}
footer .autoria{
   text-align: center;
}
footer .autoria h3{
   font-size: 14px;
   font-weight: bold;
}
footer .autoria p{
   margin: 6px 0;
   font-size: 12px;
   font-weight: lighter;
}

footer .autoria a{
   color: black;
   text-decoration: none;
}
footer .autoria a:hover{
   color: #F5A503;
}