
*{
    margin-top: 0;
    padding: 0;
}


body{
    width: 100%;
    background-color: #0477BF;
}
/* isto é a section */
.corpo-principal{
    background-color: #0477BF;
    text-align: centver;
    font-size: 15px;
    height: 100px;
    margin-top: 0;
    font-family: "Trebuchet MS", serif, Helvetica;
    width: 100%;
    top: 100px;
}
.box-titulo{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.box-titulo .titulo{
    color: seashell;
    margin-top: 90px;
    font-size: 30px;
}

/* corpo que contém todos os fieldset's */
.corpo-div{
    /* margin-left: 30%; */
    font-size: 20px;
}

.cx{
    background-color: #F8F5FF;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    height: 200px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 100px;
}

h4{
    margin-bottom: 15px;
}
hr{
    border: 2px solid #0477BF;
    border-radius: 2px;
}

p,b{
    margin-top: 25px;
    margin-bottom: 1px;
    font-size: 15.5px;
}
.resumo{
    text-align: justify;
    padding: 0 10px;
}
.cx:hover{
    -webkit-transform: scale(1.1);
}

p:hover{
    font-size: 18px;
}

table{
    border: solid 1px;
    border-spacing: 0;
}

#cx-coord{
    height: 290px;
    margin-top: 40px;
}

tr td{
    border: solid 1px;
    font-size: 15px;
    padding: 5px;
}

.titulo{
    position: absolute;
    margin: 100px 0px 60px 400px;
    color: black;
    font-size: 20px;
    top: 20px;
    left: 200px;
    /* display: grid; */
    color: seashell;
    
}

p{
    text-align: center;
}
.cx.grade{
    height: 240px;
    margin-top: 40px;
}
#titulo-dados-curso{
    margin-bottom: 20px;
}
.footer-turmas{
    background: #E9F1DF;
    padding: 30px 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1180px;
}
.footer-turmas p{
   margin: 6px 0;
   font-size: 12px;
   font-weight: lighter;
}

.footer-turmas a{
   color: black;
   text-decoration: none;
}
.footer-turmas a:hover{
   color: #F5A503;
}