<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Docente</title>
    <link rel="stylesheet" href="../css/card.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="#atletica">Atlética</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <p id="top-titulo">DOCENTES DO CAMPUS IFMA CAXIAS</p>
            <!-- cards de professores-->
    <section>
        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>
        
        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>

        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>

        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>

        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>

        <div class="card" style="background: black; color: white;">
            <div class="card-image" style="background: white;">
                <img src="../img/user.png" alt="" width="100px;" height="100px;" style="margin-top: 50px;">
            </div>
                <div class="card-text">
                    <h3>Nome do professor</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes" style="background: red;">
                        <button id="btn_curriculo">Curriculo</button>
                    </div>
                </div>
        </div>
    </section>

    <!--Rodapé-->
    <footer>
        <div class="autoria">
            <h3>Todos os direitos reservados &copy; iCode</h3>
            <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a></p>
        </div>
    </footer>
</body>
</html>