<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Docente</title>
    <link rel="stylesheet" href="../css/card.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <p id="top-titulo">Docentes de Computação</p>
            <!-- cards de professores-->
    <section>
        <div class="card">
            <div class="card-image">
                <img src="../img/luis_fernando.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>Luis Fernando</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor e cordenador do curso de ciência da computação.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/0085395822962232" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>
        
        <div class="card">
            <div class="card-image">
                <img src="../img/breno_caetano.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>Breno Caetano</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/4941178188296945" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="../img/josenilson.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>Josenilson</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/3178383774586996" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="../img/sebastiao.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>Sebastião</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/1924164873815852" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="../img/francois.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>François</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/4561067084697865" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="../img/wilker.jpg" alt="" width="300px;" height="210px;" style="margin-top: 0px;">
            </div>
                <div class="card-text">
                    <h3>Wilker</h3>
                    <p>Professor do IFMA CAMPUS CAIXAS, atualmente como professor permanente.</p>        
                </div>
                <div class="card-footer" style="background: blue;">
                    <div class="lattes">
                        <button id="btn_curriculo"><a class="link-lattes" href="http://lattes.cnpq.br/4561067084697865" target="_blank">Curriculo</a></button>
                    </div>
                </div>
        </div>
    </section>

    <!--Rodapé-->
    <footer>
        <div class="autoria">
            <h3>Todos os direitos reservados</h3>
            <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a></p>
        </div>
    </footer>
</body>
</html>