<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciência da Computação - Eventos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/eventos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>
    <div class="card-evento">
        <div class="parte-interna">
          <div class="imagem">
            <img class="img-1" src="../img/semcomp19.jpeg">
          </div>
          <div class="conteudo">
            <div class="titulo">II Semana da Computação (Semcomp)</div>
            <div class="descricao"><p><b>Descrição:</b> A Semana da Computação do IFMA-Campus Caxias (SEMCOMP2019) é um evento realizado por alunos, professores e colaboradores, com o objetivo de socializar o conhecimento e debater sobre a computação e suas tecnologias, o evento conta com diversas palestras, minicursos e oficinas sobre inovações na área</p></div>
            <span>Período: 11 a 13 de junho de 2019</span>
            <a href="https://www.even3.com.br/semcomp2019/" target="_blank">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="card-evento">
        <div class="parte-interna">
          <div class="imagem">
            <img class="img-1" src="../img/bits_de_ada.png">
          </div>
          <div class="conteudo">
            <div class="titulo">I Encontro BITS DE ADA</div>
            <div class="descricao"><p><b>Descrição:</b>  O encontro faz parte do projeto “Estratégias para inserção e permanência das mulheres na computação”, criado em dezembro de 2016, sob a coordenação de Wilker Luz, com financiamento da Fundação de Amparo à Pesquisa e ao Desenvolvimento Científico do Maranhão (FAPEMA) e do IFMA. O objetivo geral do projeto é fomentar ações para aumentar a representatividade feminina nos cursos da área de tecnologia da informação (TI) de Caxias.</p></div>
            <span>Período: 21 de novembro de 2018</span>
            <a href="https://caxias.ifma.edu.br/2018/11/19/encontro-incentiva-participacao-feminina-na-ciencia-da-computacao/" target="_blank">Saiba mais</a>
          </div>
        </div>
      </div>
    <footer>
        <div class="footer-eventos">
            <h3>Todos os direitos reservados</h3>
            <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a></p>
        </div>
    </footer>
</body>
</html>