<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/projetos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>
    <section>
        <h3 id="table-titulo">Projetos relacionados a computação</h3>
        <div class="div-table">
            <table class="project-table">
                <thead>
                    <tr>
                        <th>Nome projeto</th>
                        <th>Orientadores</th>
                        <th>Orientados</th>
                        <th>Acessar</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Q-LIBRAS: um jogo educacional para estimular alunos surdos à aprendizagem de Química</td>
                        <td>Luis Fernando</td>
                        <td>Nayron Morais Almeida</td>
                        <td><a href="https://www.researchgate.net/publication/338383337_Q-LIBRAS_um_jogo_educacional_para_estimular_alunos_surdos_a_aprendizagem_de_Quimica" target="_blank">
                            <div class="link">
                                <img src="../img/download.png" alt="" width="40" height="40">
                            </div>
                        </a>
                        </td>
                    </tr>
                    <tr>
                        <td> <i class="fa fa-external-link-alt"></i>Aplicação Móvel Para Avaliação Postural Usando Visão Computacional</td>
                        <td>Luis Fernando</td>
                        <td>Helano Miguel Brasil França Portela</br>Rodrigo Veras</br>Vinicius Ponte Machado</td>
                        <td><a href="https://www.researchgate.net/publication/338206151_Aplicacao_Movel_Para_Avaliacao_Postural_Usando_Visao_Computacional" target="_blank">
                            <div class="link">
                                <img src="../img/download.png" alt="" width="40" height="40">
                            </div>
                        </td>
                    </tr>
                    <tr>   
                        </a></td>
                        <td>Proposta de Jogo Educacional para Ensino de Sistemática Filogenética</td>
                        <td>José Wilker P. Luz</td>
                        <td>Helano Miguel Brasil França Portela</br>Fandson da Silva Morais</br>Derek Ribeiro Martins</br></td>
                        <td><a href="https://www.researchgate.net/publication/314410986_Proposta_de_Jogo_Educacional_para_Ensino_de_Sistematica_Filogenetica" target="_blank">
                                <div class="link">
                                    <img src="../img/download.png" alt="" width="40" height="40">
                                </div>
                            </td> 
                    </tr>
                    <tr>
                        <td>Classificação de Risco de Suicídio Utilizando Análise de Linguagem Natural </td>
                        <td>Luis Fernando</br>Breno Silva </br>José Flávio</td>
                        <td>Nayron Almeida </br>Francisco Sousa</br>João Pedro Feitosa</br>Gerson Guimarães</td>
                        <td><a href="https://sol.sbc.org.br/index.php/eripi/article/view/5136" target="_blank">
                            <div class="link">
                                <img src="../img/download.png" alt="" width="40" height="40">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Implementação de Algoritmos para Transposição de JBLs</td>
                        <td>Luis Fernando</td>
                        <td>Bruno de Luca</br>João Victor</br></td>
                        <td><a href="../files/Projeto - Implementação de Algoritmos para Transposição de JBLs.pdf" target="_blank">
                            <div class="link">
                                <img src="../img/download.png" alt="" width="40" height="40">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
        <!--Rodapé-->
    <footer>
        <div class="autoria">
            <h3>Todos os direitos reservados</h3>
            <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a></p>
        </div>
    </footer>
</body>
</html>