<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projetos</title>
    <link rel="stylesheet" href="../css/projetos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="index.html"> <img src="../img/logo1.png" alt="logo" width="140px"/> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#turmas">Turmas</a></li>
                    <li><a href="../views/Docente.html">Docentes</a></li>
                    <li><a href="#eventos">Eventos</a></li>
                    <li><a href="#atletica">Atlética</a></li>
                    <li><a href="../views/projetos.html">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <p>Projetos relacionados a computação</p>
    <section>
        <div class="content">
            <div class="div-conteudo">
                <table id="table-project" border="1" cellspacing="0" cellpadding="5" align="center">
                    <thead>
                        <tr>
                            <th>Projetos</th>
                            <th>Nome projeto</th>
                            <th>Orientadores</th>
                            <th>Orientados</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Projeto 1</td>
                            <td>Aplicação de algoritmos,</br>no estudo de mutações</td>
                            <td>Luis Fernando</br>Breno caetano</br>Josenilson</td>
                            <td>Bruno de Luca</br>Natã Ramos</br>Guilherme Lima</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</body>
</html>