<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sobre o Curso</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sobre.css">
</head>

<body>

    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="index.html"> <img src="../img/logo1.png" alt="logo" width="140px" /> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="#eventos">Eventos</a></li>
                    <li><a href="#atletica">Atlética</a></li>
                    <li><a href="#projetos">Projetos</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <!-- <header>
        Aqui entra o menu
    </header> -->

    <section class="corpo-principal">
        <div class="titulo">
            Sobre o Curso
        </div>
        <div class="corpo-div">
            <div class="cx">
                <h4>Resumo</h4>
                <p>O curso com titulo de Bacharelado em Ciência da Computação tem modalidade presencial,
                    que tem como forma de ingresso: Sisu, Editais de Transferência e Editais de Portador de
                    Curso Superior.
                    O turno de funcionamento é diurno, com o 40 vagas.
                </p>
            </div>

            <div class="cx" id="cx-coord">
                <h4>Coordenação</h4>
                <p><b>Coordenador:</b> Luis Fernando Maia Santos Silva.</p>
                <p><b>E-mail:</b> luis.maia@ifma.edu.br</p>
                <p><b>Horario de atendimento:</b>
                    <table>
                        <tr>
                            <td>Segunda-feira</td>
                            <td>Terça-feira</td>
                            <td>Quarta-feira</td>
                            <td>Quinta-feira </td>
                        </tr>
                        <tr>
                            <td> 14h às 15h/17h às 18h</td>
                            <td> 08h às 10h30/14h às 18h</td>
                            <td> 08h às 10h30/14h às 17h</td>
                            <td> 08h às 12h/14h às 17h</td>
                        </tr>
                        

                    </table>
                </p>

                <p></p>
            </div>

            <div class="cx">
                <h4 id="matriz-curricular">Matriz Curricular</h4>
                <!-- <table class="tabela">
                <tr>
                    <td>--</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>Pré-Cálculo</td>
                    <td>Calculo II</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Probabilidade
                        e Estatistica
                    </td>
                    <td>Calculo Vetorial</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Introdução a Lógica</td>
                    <td>Matematica Discreta</td>
                </tr>
                
            </table> -->
                <p>
                    Para ter acesso a matriz curricular
                    <a
                        href="C:/Users/glima/Documents/Documentos do Site/Estrutura-Curricular-Bach-em-Ciência-da-Computação-2.xlsx">Acesse
                        o Link</a>
                </p>
            </div>
        </div>
    </section>
    <div class="footer-turmas">
        <h3>Todos os direitos reservados &copy; iCode</h3>
        <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a>
        </p>
    </div>

</body>

</html>