<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sobre o Curso</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sobre.css">
</head>

<body>

    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px" /> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <!-- <header>
        Aqui entra o menu
    </header> -->

    <section class="corpo-principal">
        <div class="box-titulo">
            <h2 class="titulo">Sobre o Curso</h2>
        </div>
        <div class="corpo-div">
            <div class="cx">
                <h4>Resumo</h4>
                <hr/>
                <p class="resumo">O curso com titulo de Bacharelado em Ciência da Computação tem modalidade presencial,
                    que tem como forma de ingresso: Sisu, Editais de Transferência e Editais de Portador de
                    Curso Superior.
                    O turno de funcionamento é diurno, com o 40 vagas e duração minima de 4 anos.
                </p>
            </div>

            <div class="cx" id="cx-coord">
                <h4>Coordenação</h4>
                <hr/>
                <p><b>Coordenador:</b> Luis Fernando Maia Santos Silva.</p>
                <p><b>E-mail:</b> luis.maia@ifma.edu.br</p>
                <p><b>Horario de atendimento:</b>
                    <table>
                        </br>
                        <tr>
                            <td>Segunda-feira</td>
                            <td>Terça-feira</td>
                            <td>Quarta-feira</td>
                            <td>Quinta-feira </td>
                        </tr>
                        <tr>
                            <td> 14h às 15h/17h às 18h</td>
                            <td> 08h às 10h30/14h às 18h</td>
                            <td> 08h às 10h30/14h às 17h</td>
                            <td> 08h às 12h/14h às 17h</td>
                        </tr>
                        

                    </table>
                </p>

                <p></p>
            </div>

            <div class="cx grade">
                <h4 id="titulo-dados-curso">Grade curricular do curso</h4>
                <hr/>
                <div class="matriz-curricular">
                    <p>
                        Para ter acesso a <b>matriz curricular</b>
                        <a href="../files/matrizcc.pdf" target="_blank">clique aqui</a>
                    </p>
                </div>
                <div class="area-tematica">
                    <p>
                        Para ter acesso as <b>areas temáticas</b> do curso
                        <a href="../files/areas-tematica.pdf" target="_blank">clique aqui</a>
                    </p>
                </div>
                <div class="opitativas">
                    <p>
                        Para acessar as <b>disciplinas optativas</b>
                        <a href="../files/optativas.pdf" target="_blank">clique aqui</a>
                    </p>
                </div>
                <div class="pcc-comp">
                    <p>
                        Para acessar o <b>Projeto Pedagógico do Curso</b>
                        <a href="../files/pcc-comp.pdf" target="_blank">clique aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-turmas">
        <h3>Todos os direitos reservados</h3>
        <p>Desenvolvido por: <a href="https://www.instagram.com/brunodeluca__/" target="_blank">Bruno de Luca</a> , <a href="https://www.instagram.com/guillherme__santtos/" target="_blank">Guilherme Lima</a> e <a href="https://www.instagram.com/natthan_rs/" target="_blank">Natã Ramos</a></p>
    </div>

</body>

</html>