<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Turmas</title>
    <link rel="stylesheet" href="../css/turmas.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div id="logo">
                    <a href="../index.html"> <img src="../img/logo1.png" alt="logo" width="140px" /> </a>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="turmas.html">Turmas</a></li>
                    <li><a href="docente.html">Docentes</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </ul>
            </div>
        </main>
    </header>

    <section class="corpo">
        <h2 class="titulo">Turmas</h2>
        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 7</h3>
            <hr/>
            <div class="cc-div">
                <p>Inicio/Término: <b>2020/2023</b></p>
                <p>Apelido: <b>CC7</b></p>
                <p>Periodo Atual: <b>1º</b></p>
                <p>Situação: <span class="andamento">Em andamento</span></p>
                <div class="box-btn">
                    <a class="acao-horario" href="../files/cc7.pdf" target="_blank">Horário</a> 
                </div>               
            </div>
        </div>
        
        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 6</h3>
            <hr/>
            <div class="cc-div">
                <p>Inicio/ Término: <b>2019/2022</b></p>
                <p>Apelido: <b>CC6</b></p>
                <p>Periodo Atual: <b>3º</b></p>
                <p>Situação: <span class="andamento">Em andamento</span></p>
                <div class="box-btn">
                    <a class="acao-horario" href="../files/cc6.pdf" target="_blank">Horário</a> 
                </div>   
            </div>
        </div>

        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 5</h3>
            <hr/>
            <div class="cc-div">
                <p>Inicio/Término: <b>2018/2021</b></p>
                <p>Apelido: <b>CC5</b></p>
                <p>Periodo Atual: <b>5º</b></p>
                <p>Situação: <span class="andamento">Em andamento</span></p>
                <div class="box-btn">
                    <a class="acao-horario" href="../files/cc5.pdf" target="_blank">Horário</a> 
                </div>   
            </div>
        </div>

        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 4</h3>
            <hr/>
            <div class="cc-div">
                <p>Inicio/ Término: <b>2017/2020</b></p>
                <p>Apelido: <b>CC4</b></p>
                <p>Periodo Atual: <b>7º</b></p>
                <p>Situação: <span class="andamento">Em andamento</span></p>
                <div class="box-btn">
                    <a class="acao-horario" href="../files/cc4.pdf" target="_blank">Horário</a> 
                </div>   
            </div>
        </div>

        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 3</h3 class="titulo-div">
            <hr/>
            <div class="cc-div">
                <p>Inicio/ Término: <b>2016/2019</b></p>
                <p>Apelido: <b> CC3 </b></p>
                <p>Situação: <span class="concluido">Concluido</span></p>
                <div class="box-btn">
                    <a class="acao-horario desabilitado" href=".#" target="_blank">Horário</a> 
                </div>   
            </div>
        </div>

        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 2</h3>
            <hr/>
            <div class="cc-div">
                <p class="l1">Inicio/ Término: <b> 2015/2018</b> </p>
                <p>Apelido: <b>CC2</b> </p>
                <p>Situação: <span class="concluido">Concluido</span></p>
                <div class="box-btn">
                    <a class="acao-horario desabilitado" href="#">Horário</a> 
                </div>   
            </div>
        </div>

        <div class="cc">
            <h3 class="titulo-div">Ciência da Computação 1</h3>
            <hr/>
            <div class="cc-div">
                <p>Inicio/ Término: <b>2014/2017 </b></p>
                <p>Apelido: <b>CC1</b></p>
                <p>Situação: <span class="concluido">Concluido</span></p>
                <div class="box-btn">
                    <a class="acao-horario desabilitado">Horário</a> 
                </div>   
            </div>
        </div>
    </section>
    <div class="footer-turmas">
        <h3>Todos os direitos reservados</h3>
        <p>Desenvolvido por: <a href="#">Bruno de Luca</a> , <a href="#">Guilherme Lima</a> e <a href="">Natã Ramos</a>
        </p>
    </div>
</body>

</html>